<!DOCTYPE html>
<html>
<head>
<title>Black Rain Security</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="topnav">
  <a class="active" href=".">HOME</a>
  <a href="about">ABOUT</a>
  <a href="solutions">SOLUTIONS</a>
  <a href="clients">CLIENTS</a>
  <a href="contact">CONTACT</a>
</div>
<h1>Black Rain Security</h1>
<h3>IT and Physical Security</h3>
<p>We dedicate ourselves to being the world's first choice in security. From big businesses, to home owners, to individuals, your safety is our priority.</p>
</body>
</html>
