@import "{{ site.theme }}";

body {
    color: white;
    background-color: black;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.topnav {
  background-color: #495A8D;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17x;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
